<div class="fixed-top" *ngIf="!usuario">Deslogueado.</div>
<div class="fixed-top" *ngIf="usuario">
  <nav *ngIf="usuario.rol === 'A'" class="navbar fixed-top navbar-light" style="background-color: NavajoWhite;">
    <form class="form-inline">
      <a class="navbar-brand" href="#"><i class="fa fa-area-chart"></i> Mec-Parts: Admin</a>
      <button routerLink="/lista-estaciones" class="btn btn-sm btn-outline-primary" type="button">Status</button>
      <button routerLink="/lista-estaciones" class="btn btn-sm btn-outline-primary" type="button">Terminales</button>
      <button routerLink="/lista-estaciones" class="btn btn-sm btn-outline-primary" type="button">Estaciones</button>
      <button routerLink="/lista-maquinas" class="btn btn-sm btn-outline-primary" type="button">Maquinas</button>
      <button routerLink="/lista-partes" class="btn btn-sm btn-outline-primary" type="button">Partes</button>
      <button routerLink="/lista-operaciones" class="btn btn-sm btn-outline-primary" type="button">Operaciones</button>
      <button routerLink="/lista-operarios" class="btn btn-sm btn-outline-primary" type="button">Operarios</button>
      <button routerLink="/lista-estaciones" class="btn btn-sm btn-outline-primary" type="button">Partes Diarios</button>
      <button routerLink="/lista-estaciones" class="btn btn-sm btn-outline-primary" type="button">Exportar</button>
      <button (click)="salir()" class="btn btn-sm btn-outline-primary" type="button">Salir</button>
     </form>
    <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>  -->
  </nav>

  <nav *ngIf="usuario.rol === 'C'" class="navbar fixed-top navbar-light" style="background-color: NavajoWhite;">
    <form class="form-inline">
      <a class="navbar-brand" href="#"><i class="fa fa-area-chart"></i> Mec-Parts: Cargas</a>
      <button routerLink="/listarubros" class="btn btn-sm btn-outline-primary" type="button">Rubros</button>
      <button routerLink="/listaarticulos" class="btn btn-sm btn-outline-primary" type="button">Articulos</button>
      <button routerLink="/listaproveedores" class="btn btn-sm btn-outline-primary" type="button">Proveedores</button>
      <button routerLink="/compras" class="btn btn-sm btn-outline-primary" type="button">Compras</button>
      <button routerLink="/listafacturacompra" class="btn btn-sm btn-outline-primary" type="button">Lista Compras</button>
      <button (click)="salir()" class="btn btn-sm btn-outline-primary" type="button">Salir</button>
     </form>
    <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>  -->
  </nav>

  <nav *ngIf="usuario.rol === 'V'" class="navbar fixed-top navbar-light" style="background-color: NavajoWhite;">
    <form class="form-inline">
      <a class="navbar-brand" href="#"><i class="fa fa-area-chart"></i> Mec-Parts: Auditor</a>
      <button routerLink="/listaarticulos" class="btn btn-sm btn-outline-primary" type="button">Articulos</button>
      <button routerLink="/listaclientes" class="btn btn-sm btn-outline-primary" type="button">Clientes</button>
      <button routerLink="/ventas" class="btn btn-sm btn-outline-primary" type="button">Ventas</button>
      <button routerLink="/listafacturaventa" class="btn btn-sm btn-outline-primary" type="button">Lista Ventas</button>
      <button (click)="salir()" class="btn btn-sm btn-outline-primary" type="button">Salir</button>
     </form>
    <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>  -->
  </nav>
</div>