<div>
  <div class="alert alert-dark" role="alert">
    {{ titulo }}
  </div>
  <div *ngIf="operacion">
    <form class="center" #operacionForm="ngForm">
      
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputCodigo">Nombre</label>
          <input type="text" class="form-control" name="nombre" required min="2" [(ngModel)]="operacion.nombre" placeholder="Nombre...">
        </div>
      </div>

      <div>
        <br>
        <button type="submit" class="btn btn-primary" (click)="confirmado()" [disabled]="!operacionForm.form.valid">Aceptar</button>
        <button type="button" class="btn btn-primary" routerLink="/lista-operaciones">Cancelar</button>
      </div>
    </form>
  </div>
</div>
