<div>
  <div class="alert alert-dark" role="alert">
    {{ titulo }}
  </div>
  <div>
    <form class="center" *ngIf="ope">
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputNombre">Nombre: {{ ope.nombre }}</label>
        </div>
      </div>
      <div>
        <br>
        <button type="button" class="btn btn-warning" (click)="borrar()">Confirmar</button>
        <button type="button" class="btn btn-primary" routerLink="/lista-operaciones">Cancelar</button>
      </div>
    </form>
  </div>
</div>
