<div>
  <div>
    <h5>{{ titulo }}</h5>
  </div>
  <accordion>
  <accordion-group *ngFor="let est of estaciones" [heading]="est.nombre" [isOpen]="isFirstOpen">
    <p *ngFor="let term of est.terminales"># {{ term.id }} Nombre: {{ term.nombre }} Estado: {{ term.estado }} </p>
  </accordion-group>
</accordion>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col"><button *ngIf="!vendedor" class="btn btn-sm btn-outline-success" [routerLink]="['/nueva-estacion/']"
            routerLinkActive="router-link-active">Nuevo</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let est of estaciones">
        <th scope="row">{{est.id}}</th>
        <td>{{est.nombre}}</td>
        <td>
          <button *ngIf="!vendedor" class="btn btn-sm btn-outline-primary" [routerLink]="['/editar-estacion/'+ est.id]"
            routerLinkActive="router-link-active">Editar</button>
          <button *ngIf="!vendedor" class="btn btn-sm btn-outline-danger" [routerLink]="['/borrar-estacion/'+ est.id]"
            routerLinkActive="router-link-active">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
