<div>
  <div>
    <h5>{{ titulo }}</h5>
  </div>
  <pagination-controls previousLabel="atras"
                      nextLabel="siguiente" (pageChange)="p = $event"></pagination-controls>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col"><button *ngIf="!vendedor" class="btn btn-sm btn-outline-success" [routerLink]="['/nueva-operacion/']"
            routerLinkActive="router-link-active">Nueva</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ope of operaciones | paginate: { itemsPerPage: 10, currentPage: p }">
        <th scope="row">{{ope.id}}</th>
        <td>{{ope.nombre}}</td>
        <td>
          <button *ngIf="!vendedor" class="btn btn-sm btn-outline-primary" [routerLink]="['/editar-operacion/'+ ope.id]"
            routerLinkActive="router-link-active">Editar</button>
          <button *ngIf="!vendedor" class="btn btn-sm btn-outline-danger" [routerLink]="['/borrar-operacion/'+ ope.id]"
            routerLinkActive="router-link-active">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
