<div>
  <div class="alert alert-dark" role="alert">
    {{ titulo }}
  </div>
  <div *ngIf="operario">
    <form class="center" #operarioForm="ngForm">
      
        <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputNombre">Apellido</label>
          <input type="text" class="form-control" name="nombre" [(ngModel)]="operario.apellido" placeholder="Nombre...">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputCodigo">Nombre</label>
          <input type="text" class="form-control" name="codigo" required min="1" [(ngModel)]="operario.nombre" placeholder="Código...">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputDescripcion">Pin</label>
          <input type="text" class="form-control" name="descripcion" [(ngModel)]="operario.pin" placeholder="Descripción...">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
        <label for="inputActiva">Activo</label>
        <br>
          <ui-switch labelOn="Sí" labelOff="No" [(ngModel)]="operario.activo" name="activo"></ui-switch>
        </div>
      </div>

      <div>
        <br>
        <button type="submit" class="btn btn-primary" (click)="confirmado()" [disabled]="!operarioForm.form.valid">Aceptar</button>
        <button type="button" class="btn btn-primary" routerLink="/lista-operarios">Cancelar</button>
      </div>
    </form>
  </div>
</div>

